*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root{
  --color-link: black;
  --color-menu: white;
  --color-borda-menu: gray;
  --menu-hover: crimson;

}

html{
  font-size: 62.5%;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
